{{template "header"}}

<div class="container">

  
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">更新 API</h1>
  <p class="lead"></p>
  </div>

  <div class=" mb-3">
    <div class=" mb-4">
      <div class="col-12 col-md">
       <form action="/api/update" method="post" class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="id" id="id" value="{{ .api.ID }}">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="name" name="name" value="{{ .api.Name }}">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">API 启用状态</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="status" name="status" value="{{ .api.Status }}">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12">
              <button type="submit" class="btn btn-sm btn-block btn-outline-primary">提 交</button>
            </div>
          </div>
       </form>
      </div>
    </div>
  </div>

</div>

{{template "footer"}}

